<!DOCTYPE html>
<html>

<head>
    <title>Atualizar Usuário</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
</head>

<body id="conteiner">
    <div id="conteiner_link">
        <a id="link" href="listar.html">Listar Usuários</a>
    </div>
    <h1 id="title">Atualizar os dados do usuário</h1>
    <div id="conteiner_form">
        <form id="usuarioForm">
            <label class="label" for="cpf">CPF:</label><br>
            <input class="input" type="text" id="cpf" name="cpf" required><br>
            <label class="label" for="nome">Nome:</label><br>
            <input class="input" type="text" id="nome" name="nome" required><br>
            <label class="label" for="email">E-mail:</label><br>
            <input class="input" type="text" id="email" name="email" required><br>
            <input id="button" type="submit" value="Enviar">
        </form>
    </div>
</body>
<script src="./scripts/atualizar.js"></script>

</html>