<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Usuários</title>
    <link rel="stylesheet" href="./styles.css">
    <a class="link_header_listar" href="salvar.html">Salvar Usuário</a>
    <a class="link_header_listar" href="atualizar.html">Atualizar Usuários</a>
</head>

<body id="conteiner_listar">
    <h1>Listagem de Usuários</h1>

    <table id="table">
        <thead>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ações</th> <!-- Coluna para o botão de deletar -->
            </tr>
        </thead>
        <tbody id="usuarios">
            <!-- Os registros serão preenchidos dinamicamente aqui usando JavaScript -->
        </tbody>
    </table>

    <script src="./scripts/listar.js"></script>
</body>

</html>